<div class="form-group row">
    <div class="col-4">
        <button id="btnStart" type="button" class="btn btn-default">Start Recording</button>
    </div>
    <div class="col-4">
        <button id="btnStop" type="button" class="btn btn-default" style="background-color:none;color:black">Stop Recording</button>
    </div>
    <div class="col-4">
        <a href="" id="lnkDownload">Download</a>
    </div>

</div>
